* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Commissioner', sans-serif;
    /* background: rgba(0,0,0,0.5) */
    background:hsl(0, 33%, 97%);

}


.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    background:hsl(0, 33%, 97%);

}
.container__header {
    display: flex;
    background-image: url('/images/image-hero-desktop.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    /* background-position: center; */
    height: 50vh;
    justify-content: space-around;
    padding-top: 40px;
}

.container__header img{
  width: 100px;
  height: 15px;
}

.container__nav a{
 text-decoration: none;
 color: white;
 padding: 10px;
}

.container__main {
    width: 50%;
    position: absolute;
    top: 90%;

    /* background: red; */
    /* background:hsl(0, 33%, 97%); */
}
.main__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 60px;
    border-radius: 20px;
}
.main__title {
  font-size: 20px;
  font-weight: 700;
}

.main__text {
    color:hsl(0, 0%, 48%);
    margin-top: 10px;
    font-size: 14px;
}
.main__buttons {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.main__buttons button {
    border: none;
    padding: 0px 30px;
    height: 50px;
    background:hsl(176, 50%, 47%);
    color: white;
    border-radius: 30px;
    font-weight: 700;
}

.bookmark {
    display: flex;
    justify-content: center;
    align-items: center;
    background:hsl(0, 12%, 92%);
    border-radius: 40px;
}
.bookmark span {
    color: hsl(0, 0%, 48%);
    font-weight: 700;
    padding: 18px;
    border-radius: 30px;
}

.big {
    width:100%;
    height: 1000vh ;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    /* height: 1000vh; */
}
.modal__big {
    width:100%;
    height: 1000vh ;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    /* height: 1000vh; */
}

.main__middle {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 81.4%;
    background: white;
    padding: 60px;
}

.main__middle__doller {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.main__middle__doller .block{
    display: block;
    font-size: 25px;
    font-weight: 700;
}
.main__middle__doller .inline {
    display: inline;
    color:hsl(0, 0%, 48%);
    font-size: 12px;
}

.main__middle__ring {
    margin-top: 30px;
    width: 600px;
    height: 10px;
    background:hsl(0, 5%, 92%);
    border-radius: 20px;
}
.main__middle__ring .ring__width{
   width: 450px;
   background:hsl(176, 50%, 47%);
   border-radius: 20px;
   height: 10px;
}

.modal__head {
    display: flex;
    justify-content: space-between;
}

.modal__close {
    cursor: pointer;
    padding: 10px;
    background: red;
    color: white;
    border-radius: 20px;
}

.main__bottom {
    background: white;
    padding: 60px;
    border-radius: 10px;
    dipslay: flex;
}
.main__bottom .bottom__title{
  font-weight: 700;
  font-size: 16px;
  /* background: red; */
}
.main__bottom .bottom__text {
    color: hsl(0, 0%, 48%);
    margin-top: 20px;
    line-height: 30px;
    font-size: 14px;
}

.bottom__item {
    border: 1px solid hsl(0, 0%, 48%);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

.bottom__item .item__head  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.bottom__item .item__head .head__left {
    font-weight: 700;
}
.bottom__item .item__head .head__right {
    color:hsl(176, 50%, 47%);
    font-weight: 700;
}
.item__text {
    color:hsl(0, 0%, 48%);
    font-size: 14px;
    line-height: 25px;
}

.item__bottom {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom__right {
   background:hsl(176, 50%, 47%);
   color: white;
   padding: 15px 20px;
   border-radius: 50px;
   font-weight: 700;
   cursor: pointer;
}

.bottom__left {
    color:hsl(0, 0%, 48%);
    font-size: 13px;
    
}
.bottom__left span {
    color: black;
    font-size: 20px;
    font-weight: 700px;
}
.poppup {
    position: fixed;
    left: 34%;
    top: 30%;
    width: 400px;
    height: 300px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    /* visibility: hidden; */
}

  

.poppup img {
    width: 100px;
    height: 100px;
}
.poppup p {
    text-align: center;
    color: hsl(0, 0%, 48%);
}
.poppup h5 {
    font-weight: 700;
    font-size: 1em;
}
.poppup button {
    background: hsl(176, 50%, 47%);
    padding: 10px 20px;
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.modal {
    background: white;
    width: 620px;
    height: 870px;
    padding: 30px;
    border-radius: 10px;
    position: fixed;
    right: 30%;
    /* visibility: hidden; */
}

.modal .model__title {
    padding: 10px;
}
.modal  .model__text {
    padding: 10px;
    color: hsl(0, 0%, 48%);
}

.modal .modal__item {
   border:1px solid hsl(0, 0%, 48%);
   padding: 25px;
   margin: 15px;
   border-radius: 10px;
   /* height: 90px; */
   /* height: 130px; */
}

 .active {
     /* height: 130px; */
     visibility: visible;
 }
 .disabled  {
     /* height: 90px; */
     visibility: hidden;
 }

.modal .modal__item p{
  margin-left: 30px;
  margin-top: 10px;
  color: hsl(0, 0%, 48%);
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 20px;
}
 .redio__title {
     font-size: 15px;
     font-weight: 700;
     padding: 10px;
 }

.modal .modal__item span {
    color: hsl(176, 50%, 47%);
    font-weight: 700;
    font-size: 15px
}

.item__flex {
    display: flex;
    justify-content: space-between;
}
.item__flex .flex__right {
    color: hsl(0, 0%, 48%);
}
.item__flex .flex__right span{
    color: black;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100;
}

 .modal__item__select{
  /* border-top: 1px solid hsl(0, 0%, 48%); */
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  /* height: 0px; */
  /* visibility: hidden; */
  /* visibility: visible; */
}

.modal__item__select label {
    color:hsl(0, 0%, 48%);
    font-size: 15px;
}
.modal__item__select .input__data input{
   width: 80px;
   height: 40px;
   border-radius: 20px;
   outline: none;
   border: none;
   border: 1px solid hsl(176, 50%, 47%);
   text-align: center;
}
.modal__item__select .input__data button {
    width: 80px;
   height: 40px;
   border-radius: 20px;
   outline: none;
   border: none;
   background:  hsl(176, 50%, 47%);
   color: white;
   font-weight: 400;
   font-size: 13px;
   text-align: center;
   cursor: pointer;
   margin-left: 10px;
}